.site-title {
  margin-bottom: 24px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  padding: 16px 32px;
  border-radius: 16px;
  border: 1px solid beige;
  margin-bottom: 24px;
  background: beige;
  outline: none;
}

.city-container, .error-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4% 8%;
  border: 1px solid beige;
  border-radius: 16px;
  background: beige;
}

.error-container {
  margin: 0;
    background: #fff;
    border: none;
}

.info p {
  margin: 0;
  text-transform: capitalize;
  font-weight: 600;
}

.temperature {
  font-size: 48px;
  font-weight: 600;
  color: midnightblue;
  margin: 16px 0 12px;
}

.city-container sup {
  font-size: 0.5em;
}

.city-name {
  font-size: 24px;
  margin: 0;
}


@media only screen and (max-width: 600px){
  .city-container {
    padding: 4% 14%;
  }
}
